# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/
*.env

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Docker
*.log

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# SSH keys and sensitive files
*.pem
*.key

# Local files
*.swp
*.swo

# Ignore local output files
output/
local_file.*